.next-button a {
  text-decoration: none;
  color: inherit;
  width: 100%;
}

.next-button {
  width: 100%; /* Full width */
  display: flex;
  justify-content: center;
}
.back-button a {
  text-decoration: none;
  color: inherit;
  
}