  .container h1 {
    font-size: 30px;
  }
  
  .next-button {
      margin-top: 200px; /* Adjust the value as needed */
  }
  .back-btn {
    background-color: #ffcf34;
  }
  .back-icon {
    color:white;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .back-icon:hover {
    color: white;
    background-color: #B09537;
    transform: scale(1.05);
  }