  .container h1 {
    font-size: 30px;
  }
  
  .back-btn {
    background-color: black;
  }
  .back-icon {
    color:white;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }

  .event-name-box {
    display: inline-flex;
    align-items: center;
    gap: 8px;    /* ← this creates an 8px gap between the name and button */
  }